{% load static %}
{% load i18n %}
<!-- Start Footer Area -->
		<footer class="footer-area ptb-100 pb-0 bg-image">
			<div class="container">
				<div class="row">

			<div class="copyright-area">
				<div class="container">
					<div class="row h-100 justify-content-center align-items-center">
						<div class="col-lg-6 col-md-6">
							<p>{% translate 'کپی رایت @ 2021 آوا دام' %}</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

		<!-- Back Top top -->
        <div class="back-to-top">{% translate "بالا" %}</div>
        <!-- End Back Top top -->

		<!-- Jquery Min JS -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<!-- Popper Min JS -->
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<!-- Bootstrap Min JS -->
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<!-- Canvas Min JS -->
		<script src="{% static 'assets/js/canvas.min.js' %}"></script>
		<!-- Meanmenu Min JS -->
		<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
		<!-- Tilt Min JS -->
		<script src="{% static 'assets/js/tilt.jquery.min.js' %}"></script>
		<!-- Magnific Popup Min JS -->
		<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
		<!-- WOW Min JS -->
		<script src="{% static 'assets/js/wow.min.js' %}"></script>
		<!-- Owl Carousel Min JS -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
		<!-- Waypoints Min Js -->
        <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
        <!-- Jquery CounterUp Min JS -->
        <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
		<!-- NiceSelect Min Js -->
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
		<!-- ajaxChimp Min JS -->
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <!-- Contact Form Min JS -->
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>
	</body>
