{% extends 'AvadamConfig/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

        <!-- Start Page Title Area -->
        <section class="page-title-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{object.title}}{% translate '  جزئیات مقاله '%} </h2>
                    </div>
                </div>
            </div>

            <div class="shape1"><img src="{% static 'assets/img/shape1.png'%}" alt="img"></div>
			<div class="shape2"><img src="{% static 'assets/img/shape2.png'%}" alt="img"></div>
			<div class="shape3"><img src="{% static 'assets/img/shape3.png'%}" alt="img"></div>
			<div class="shape6"><img src="{% static 'assets/img/shape6.png'%}" alt="img"></div>
			<div class="shape8 rotateme"><img src="{% static 'assets/img/shape8.svg'%}" alt="shape"></div>
            <div class="shape9"><img src="{% static 'assets/img/shape9.svg'%}" alt="shape"></div>

            <!-- Bubble Animte -->
            <div class="bubble-animate">
                <div class="circle small square1"></div>
                <div class="circle small square2"></div>
                <div class="circle small square3"></div>
                <div class="circle small square4"></div>
                <div class="circle small square5"></div>
                <div class="circle medium square1"></div>
                <div class="circle medium square2"></div>
                <div class="circle medium square3"></div>
                <div class="circle medium square4"></div>
                <div class="circle medium square5"></div>
                <div class="circle large square1"></div>
                <div class="circle large square2"></div>
                <div class="circle large square3"></div>
                <div class="circle large square4"></div>
            </div>
        </section>
		<!-- End Page Title Area -->
        
        <!-- Start Blog Details Area -->
		<section class="blog-details-area ptb-100">
			<div class="container">
				<div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details">
                            <div class="article-img">
                                <img src="{{object.thumbnail.url}}" width='800' height='550' alt="blog-details">
                                <div class="date"> {{object.publish}}</div>
                            </div>
                            <div class="article-content">

                                    
                                <h1>{{object.title}}</h1>
                                
                                        <p>{{object.description|safe}}</p>                                
                            </div>
 
                        </div>


					</div>
					
					<div class="col-lg-4">
						<div class="sidebar-area">


							
							<div class="widget widget_recent_posts">
								<h3 class="widget-title">{% translate 'پست اخیر' %}</h3>
								<div class="bar"></div>
								
								<ul>
                                {% for article in articles %}
									<li>
										<div class="recent-post-thumb">
											<a href="{% url 'blog-detail' article.slug %}">
												<img src="{{article.thumbnail.url}}" alt="{{article.title}}">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="{% url 'blog-detail' article.slug %}">{{article.description|safe|striptags|truncatewords:'8'}}</a></h3>
											<span class="date">{{article.publish}}</span>
										</div>
									</li>
                                    {% endfor %}
								</ul>
							</div>

                            <div class="widget widget_tag_cloud">
                                <h3 class="widget-title">{% translate 'برچسب ها' %}</h3>
                                <div class="bar"></div>

                                <div class="tagcloud">
                                {% for tag in tags %}
                                    <a href="#">{{tag.title}}</a>
                                {% endfor %}
                                </div>
							</div>

                        </div>
                    </div>
                </div>
			</div>
		</section>

{% endblock  %}