{% extends 'AvadamConfig/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}




        <!-- Start Page Title Area -->
        <section class="page-title-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{% translate " بلاگ ما"%}</h2>
                    </div>
                </div>
            </div>

            <div class="shape1"><img src="{% static 'assets/img/shape1.png'%}" alt="img"></div>
			<div class="shape2"><img src="{% static 'assets/img/shape2.png'%}" alt="img"></div>
			<div class="shape3"><img src="{% static 'assets/img/shape3.png'%}" alt="img"></div>
			<div class="shape6"><img src="{% static 'assets/img/shape6.png'%}" alt="img"></div>
			<div class="shape8 rotateme"><img src="{% static 'assets/img/shape8.svg'%}" alt="shape"></div>
            <div class="shape9"><img src="{% static 'assets/img/shape9.svg'%}" alt="shape"></div>

            <!-- Bubble Animte -->
            <div class="bubble-animate">
                <div class="circle small square1"></div>
                <div class="circle small square2"></div>
                <div class="circle small square3"></div>
                <div class="circle small square4"></div>
                <div class="circle small square5"></div>
                <div class="circle medium square1"></div>
                <div class="circle medium square2"></div>
                <div class="circle medium square3"></div>
                <div class="circle medium square4"></div>
                <div class="circle medium square5"></div>
                <div class="circle large square1"></div>
                <div class="circle large square2"></div>
                <div class="circle large square3"></div>
                <div class="circle large square4"></div>
            </div>
        </section>
		<!-- End Page Title Area -->
        
        <!-- Start Blog Area -->
		<section class="blog-area blog-section ptb-100">
			<div class="container">
				<div class="row">
                 {% for article in object_list %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
                            <a href="{% url '
                            blog-detail' article.slug %}" class="post-image"><img src="{{article.thumbnail.url}}" alt="{{article.title}}" width='400' height='400'></a>

                            <div class="blog-post-content">
                                <ul>
                                    <li><i class="icofont-user-male"></i> <a href="#">{% translate 'اوا دام دارو' %}</a></li>
                                    <li><i class="icofont-wall-clock"></i>{{article.publish}}</li>
                                </ul>
                                <h3><a href="{% url 'blog-detail' article.slug %}">{{article.title}}</a></h3>
                                <p>{{article.description|safe|striptags|truncatewords:'12'}} </p>
                                <a href="{% url 'blog-detail' article.slug %}" class="read-more-btn">{% translate 'برو به مطلب' %} <i class="icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

{% if page_obj %}
                    <div class="col-lg-12 col-md-12">
						<div class="pagination-area">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
								   
        {% if page_obj.has_previous %}

								<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="icofont-double-left"></i></a></li>
        {% endif %}
					
									<li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
									
									
        {% if page_obj.has_next %}
									<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="icofont-double-right"></i></a></li>
      
      									<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>

        {% endif %}
								</ul>
							</nav>
						</div>
					</div>
{% endif %}

				</div>
			</div>
		</section>
		<!-- End Blog Area -->

{% endblock %}